  /* profile section */

  .container{
    display: flex;
    margin-top: 60px;
}
  .content{
    display: flex;
    gap: 50px;
}
.post{
    flex: 2;
}
.profile{
    flex: 1;
}
.cardContainer {
	background-color: white;
	min-width: 350px;
	max-width: 600px;
	height: auto;
	border-radius: 14px;
	box-shadow: 0px 5px 10px hsl(185, 75%, 35%);
}

.header {
  /* background-color: #330033; */
  background-image: url("../../../public/bg-pattern-card.svg");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.img {
	margin: auto;
	width: 100px;
	border: solid white 4px;
	border-radius: 50%;
	margin-top: 75px;
}

.details{
  padding: 24px;
}

.boldText {
	font-weight: bold;
	font-size: 1.1rem;
  color: var(--softTextColor) !important;
	text-align: center;
	padding: 10px 24px 0px 20px;
}

.normalText {
	font-weight: normal;
	font-size: 0.95rem;
	color: var(--softTextColor) !important;
	text-align: center;
	padding-bottom: 10px;
}

/* SOCIAL STATS */
.smallerText {
	font-weight: normal;
	font-size: 0.7rem;
	color: var(--softTextColor) !important;
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
}

.socialContainer {
	display: flex;
	border-top: solid rgb(206, 206, 206) 1px;
	text-align: center;
  margin-top: 8px;
  padding-top: 20px;

}

.followers {
	flex: 1;
}

.likes {
	flex: 1;
}

.photos {
	flex: 1;
}